SECRET_KEY=dev-change-me
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=db_alsenform
MYSQL_USER=root
MYSQL_PASSWORD=passwd
MYSQL_CHARSET=utf8mb4
# QUIZ_DATABASE_URL=mysql+pymysql://root:passwd@127.0.0.1:3306/db_alsenform?charset=utf8mb4
