<div
    contenteditable="true"
    class="question-title-input text-xl w-full border-none focus:ring-0 bg-transparent p-0 placeholder-gray-300 resize-none overflow-hidden min-h-[40px]"
    data-placeholder="Pertanyaan Tanpa Judul"
    hx-put="/api/question/{{ question.id }}/update"
    hx-trigger="blur"
    hx-ext="editable-submit"
    name="question_text"
    onmouseup="checkSelection(event)"
    onkeyup="checkSelection(event)"
    style="font-family: var(--font-q);"
>{{ question.question_text|rich_text|safe }}</div>
